<h1>Contacts</h1>

{% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %}
  </ul>
  
{% if latest_contact_list %}
    <ul>
    {% for contact in latest_contact_list %}
        <li><a href="{% url 'contact_api:show' contact.id %}">{{ contact.full_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No contacts are available.</p>
{% endif %}
<a href="{% url 'contact_api:create' %}">Create a Contact</a>

<h2>JSON Endpoints</h2>
<a href="{% url 'contact_api:api_index' %}">All Contacts JSON</a>
